@import '../../variables.scss';

.catalog-menu {
    width: 100%;
    @include AV('margin-bottom', 84, 40);
    @include AV('margin-top', 84, 40);

    &_container {
        display: flex;
        flex-direction: column;
        align-items: center;

        h2 {
            @include fsz48;

        }

        p {
            color: $red;
            font-style: italic;
            @include fsz20
        }

        .categories {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(6,1fr);
            justify-content: space-between;
            @include AV('margin-top', 92, 40);
            @media (max-width:1700px) {
                grid-template-columns: repeat(3,1fr);
            }
            @media (max-width:768px) {
                grid-template-columns: repeat(2,1fr);
            }
            @media (max-width:500px) {
                grid-template-columns: repeat(1,1fr);
            }
            .category {
                padding: 23px 43px;
                text-align: center;
                border: 1px #000000 solid;
                @include fsz24;

                &:hover {
                    background: $red;
                    color: #FFFFFF;
                }
            }
        }
    }
}