@import '../../../variables.scss';

.logo {
    padding: 25px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-brands {
    display: none;
}

.header-cart {
    display: block;
}

@media (max-width: 1400px) {
    .header-cart {
        display: none;
    }
}