.submit-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 24px;

    button {
        width: 196px;
        padding: 15px 30px;

        @include fsz16;
        font-weight: 300;

        background-color: #000;
        color: #fff;
    }
}