@import '../../variables.scss';


.cart_container {
    margin-bottom: 75px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 25px;
    @include AV("gap", 113, 50);

    h2 {
        @include fsz48;
        font-weight: 700;
    }


    h3 {
        font-weight: 600;
        @include fsz32;
    }

    .cart {
        display: flex;
        flex-direction: column;

        .cart-items {
            margin: 20px 0px;
            display: flex;
            flex-direction: column;
            gap: 24px;
            height: 400px;
            overflow: scroll;
        }
       

        h1 {
            font-size: 48px;
            font-weight: 700;
            margin-bottom: 20px;
        }

        .cart-item {
            display: flex;
            width: 100%;
            height: 148px;

            img {
                width: 148px;
                height: 148px;
            }

            .cart-item-info {
                width: 100%;

                .cart-item-info_top {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                }

                .cart-item-info_bottom {
                    margin-top: 4px;
                    display: flex;
                    justify-content: space-between;

                    .counter-block {
                        padding: 5px 10px 5px 5px;
                        display: flex;
                        align-items: center;
                        gap: 10px;

                        .cart-counter {
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            gap: 13px;
                            padding: 4px 8px;
                            border: 2px solid $red;
                            border-radius: 3px;
                            color: $red;

                            img {
                                cursor: pointer;
                                width: 15px;
                                height: 15px;
                            }
                        }
                    }

                    .price-block {
                        display: flex;
                        align-items: center;
                    }
                }

                .cart-size {
                    text-align: center;
                    width: 60px;
                }

                .cart-name {
                    font-size: 20px;
                    font-weight: 800;
                }

                .cart-brand {
                    font-size: 20px;
                    font-weight: 500;
                    color: $red;
                }

                .cart-price {
                    font-size: 20px;
                    font-weight: 700;
                    color: $red;
                }
            }
        }

        .to-catalog-btn {
            padding: 15px 30px;
            font-family: Mulish;
            font-size: 20px;
            font-weight: 400;
            border: 2px solid black;
        }

        .cashback-info {
            font-size: 14px;
            font-weight: 500;

            :nth-child(1) {
                display: flex;
                gap: 10px;
                padding: 10px;
            }
        }

        .example {
            font-size: 14px;
            font-weight: 500;
            margin: 10px 100px;
            color: #969696;
        }

        .cashback-balance {
            text-align: center;
            margin-bottom: 10px;

            span {
                color: $red;
                font-size: 24px;
                font-weight: 700;
            }
        }

        .btns {
            display: flex;
            gap: 10px;
            padding: 44px 0px;
            border-top: 1.5px solid #969696;
            border-bottom: 1.5px solid #969696;
        }

        .promocode {
            flex: 1 1 50%;
            padding: 15px 30px;
            border: 1.5px solid #969696;
            text-align: center;
        }

        .payment-info {
            display: flex;
            justify-content: space-between;
            font-size: 24px;
            font-weight: 700;
            color: $red;
            margin-top: 16px;
        }

        .promocode::placeholder {
            font-size: 16px;
            font-weight: 400;
        }

        .apply-btn {
            padding: 15px 30px 15px 30px;
            border: 2px solid $red;
            color: $red;
            font-size: 16px;
            font-weight: 700;
        }
    }

    .order-info {
        display: flex;
        flex-direction: column;
        gap: 45px;


        .options {
            display: flex;
            flex-direction: column;
            gap: 15px;

            .option {
                div {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    max-width: 80%;
                }

                h4 {
                    @include fsz24;
                    font-weight: 400;
                }

                p {
                    color: #969696;
                }

                span {
                    font-weight: 600;
                    color: $red;
                }

                border: 1px solid $red;
                padding: 25px 30px;
            }
        }


        .delivery {}

        .payment {
            .payment_methods {
                .payment_method {}
            }
        }

        .client-form {
            max-width: 560px;
            display: grid;
            gap: 20px;
            grid-template-columns: repeat(2, 1fr); // Две колонки по 1fr каждая

            * {
                &:first-child {
                    grid-column-start: 1;
                    grid-column-end: 2;
                }

                &:nth-child(2) {
                    grid-column-start: 2;
                    grid-column-end: 3;
                }

                grid-column: 1 / 3;
            }

            hr {
                height: 1px;
                background: #000;
                width: 100%;

            }

            textarea {
                border: 1.5px solid #000000;
                padding: 25px;
                resize: vertical;
                width: 100%;

                &::placeholder {
                    @include fsz16;
                    font-weight: 300;
                }
            }
        }
    }
}