@import '../../variables.scss';

.filter{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.filter-header{
    @include fsz24;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    border-bottom: 1px #000000 solid;
    // img{
    //     stroke: #000000 !important;
    // }

}
.filter-options{
    flex-direction: column;
    overflow: scroll;
    max-height: 30vh;
    overflow-x: hidden;
    gap: 20px;
    /* Стили для всего скроллбара */
     &::-webkit-scrollbar {
        width: 12px; /* Ширина вертикального скроллбара */
        height: 12px; /* Высота горизонтального скроллбара */
    }

    /* Стили для дорожки скроллбара */
     &::-webkit-scrollbar-track {
        background: #f1f1f1;
        border-radius: 10px;
    }

    /* Стили для бегунка скроллбара */
     &::-webkit-scrollbar-thumb {
        background: $red;
        border-radius: 10px;
    }

    /* Стили для бегунка при наведении */
     &::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
    .option{
        display: flex;
        gap: 10px;
        align-items: center;
        input[type="checkbox"]{
            appearance: none;
            width: 20px;
            height: 20px;
            border: 2px solid #888;
            border-radius: 4px;
            background-color: #FFFF;
            cursor: pointer;
            &:checked {
                background-color: $red; 
            
            }
            &:checked::before {
                content: "";
                color: white;
                display: block;
                text-align: center;
                line-height: 20px; 
                font-size: 16px;
            }
        }
    }
}