@import '../../../variables.scss';

.footer_column {
    display: flex;
    flex-direction: column;
    @include fsz20;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: $red;
    gap: 40px;
    
    .title {
        font-weight: 800;
        @include fsz20;
    }
    
    .items  {
        ul {
            padding: 0px;  
        }
        .item {
            list-style-type: none;
            line-height: 1.9;
            
            a {
                color: inherit; /* Inherit color from parent */
                text-decoration: none; /* Remove underline */
                
                &:hover {
                    text-decoration: underline; /* Add underline on hover */
                }
            }
        }
    }
}
