.bestsellers{
    padding-top: 182px;
    width: 100%;
    border: 1px #791616 solid;
    border-width: 1px 0 0 0;
    @media (max-width:1200px) {
        grid-template-columns: repeat(3, 1fr);
    }
    &_text{         
        margin-left: 80px;
        margin-bottom: 80px;
        .titles{
            position: relative;
            *{
                &:first-child{
                    position: absolute;
                    left: 10px;
                    bottom: 10px;
                    opacity: .1;
                    color: #791616;
                    font-size: 200px;
                    font-weight: 800;
                }
                &:last-child{
                    font-size: 128px;
                    font-weight: 800;
                    letter-spacing: -2px;
                    color: #791616;
                }
            }
        }

        p{
            font-style: italic;
            max-width: 797px;
            text-align: center;
            font-size: 24px;
            color: #791616;
            margin-left: 170px;
        }
    }
}
