@import '../../../variables.scss';

.grid-container {
    display: grid;
    gap: 24px;

    input:nth-child(1) {
        grid-column: span 2;
    }

    //     input {
    //         padding: 11px 0px 11px 25px;
    //         border: 1.5px solid $red;
    //         @include fsz16;
    //     }

    //     input::placeholder {
    //         @include fsz16;
    //         font-weight: 300;
    //         color: $red;
    //     }
    // }

    // .submit-btn {
    //     display: flex;
    //     flex-direction: column;
    //     align-items: center;
    //     margin-top: 24px;

    //     button {
    //         width: 196px;
    //         padding: 15px 30px;

    //         @include fsz16;
    //         font-weight: 300;

    //         background-color: #000;
    //         color: #fff;
    //     }
}