a {
    text-decoration: none;
    color: black;
}

.logo {
    height: 93.13px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 26px;
    padding-top: 25px;

    /* background-color: red; */
}

.logo img {
    width: 200px;
    height: 94px;
}

.nanContainer {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 52px;
}


/* ------------------------------------------------------------------------ */
.nanContainer ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 37px;
}

.nanContainer ul li {
    padding: 10px;
    font-size: 24px;
}

.nanContainer ul li:nth-child(1) {
    display: flex;
    align-items: center;
}

.nanContainer ul li img {
    margin-left: 14px;
}
/* ------------------------------------------------------------------------ */

.input input {
    width: 560px;
    padding: 12px 0px;

    margin-right: 40px;
    margin-left: 34px;
    border: 2px solid black;
    border-radius: 3px;
}

.userLinks {
    display: flex;
    align-items: center;

    width: 152px;
    height: 42px;

    gap: 10px;
}

/* ------------------------------------------------------------------------ */

/* ------------------------------------------------------------------------ */

.headerHomepage .navigation {
    border-top: 2px solid #791616;
    padding-top: 34px;
    padding-bottom: 35px;
}

/* ------------------------------------------------------------------------ */

.headerCatalogs .navigation {
    border-top: 2px solid #791616;
    padding-top: 30px;
}

/* ------------------------------------------------------------------------ */

.headerContacts .navigation {
    border-bottom: 2px solid #791616;
    padding-bottom: 30px;
}

/* ------------------------------------------------------------------------ */

.headerBrands {
    border-bottom: 1.5px solid #791616
}

.headerBrands .logo {
    display: none;
}

.headerBrands .navigation {
    padding-top: 47px;
    padding-bottom: 30px;
}

/* ------------------------------------------------------------------------ */