a {
    text-decoration: none;
    color: black;
}



.logo {
    height: 93.13px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 26px;
    margin-top: 25px;
    width: 100%;
}

.logo img {
    width: 200px;
    height: 94px;
}
