.fragnance-choice-block{
    background: #791616;
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 30px;

    .fragnance-choice-block_text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto 0;
        max-width: 700px;
        h2{
            font-size: 48px;
            color: white;
            margin-bottom: 33px;
        }
        p{
            color: white;
            &:last-child{
                font-weight: 700;
            }
        }
        a{
            margin-top: 45px;
            align-self: flex-start; 
        }
    }
}