.footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer_container {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 75px;
}

.info {
    display: flex;
    justify-content: center;
    gap: 75px;
}

.payment {
    margin-left: 114px;
}